n8n-workflows/duberymnl/DuberyMNL — Caption Approver.json
{
  "name": "DuberyMNL — Caption Approver WF2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst ratings = {};\n\nfor (const [key, value] of Object.entries(body)) {\n  if (key.startsWith('rating_')) {\n    const idx = key.replace('rating_', '');\n    ratings[idx] = parseInt(value) || 0;\n  }\n}\n\nreturn [{ json: { ratings } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -240
      ],
      "id": "867dfbc6-765f-46e0-8507-b0ebb9c4bf45",
      "name": "Parse Form"
    },
    {
      "parameters": {
        "path": "duberymnl-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -544
      ],
      "id": "ea9d8c90-acf6-4f93-b5e9-5610ccfe4b66",
      "name": "GET — Review Page",
      "webhookId": "ca3fd7b2-f59a-425a-808e-08ebd71a8f79"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "pending_review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -544
      ],
      "id": "af338e77-94bf-497b-aa66-81c1f6a58f82",
      "name": "Read Pending Captions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items;\n\nconst modelOptions = `\n  <option value=\"\">— Pick model —</option>\n  <optgroup label=\"CLASSIC\"><option>CLASSIC - Blue</option><option>CLASSIC - Red</option><option>CLASSIC - Black</option><option>CLASSIC - Purple</option></optgroup>\n  <optgroup label=\"OUTBACK\"><option>OUTBACK - Black</option><option>OUTBACK - Blue</option><option>OUTBACK - Green</option><option>OUTBACK - Red</option></optgroup>\n  <optgroup label=\"BANDITS\"><option>BANDITS - Camo</option><option>BANDITS - Green</option><option>BANDITS - Blue</option><option>BANDITS - Black</option></optgroup>\n  <optgroup label=\"RASTA\"><option>RASTA - Red</option><option>RASTA - Brown</option></optgroup>\n`;\n\nconst refLabels = [\n  'Reference 1 — Primary / Subject 1',\n  'Reference 2 — Subject 2 (optional)',\n  'Reference 3 — Subject 3 (optional)',\n  'Reference 4 — Subject 4 (optional)',\n  'Reference 5 — Subject 5 (optional)',\n];\n\nlet cards = '';\nfor (let i = 0; i < rows.length; i++) {\n  const d = rows[i].json;\n  const anchor = d.Visual_Anchor || 'PERSON';\n\n  let stars = '';\n  for (let n = 1; n <= 5; n++) {\n    stars += '<span data-star=\"' + n + '\" data-card=\"' + i + '\" class=\"star\" style=\"font-size:22px;cursor:pointer;color:#ddd;line-height:1\">★</span>';\n  }\n\n  let refPickers = '';\n  for (let r = 0; r < refLabels.length; r++) {\n    const noneOpt = r === 0 ? '' : '<option value=\"\">— None —</option>';\n    const hidden = r > 0 ? 'display:none;' : '';\n    refPickers += `\n      <div id=\"ref_picker_${r}_${i}\" style=\"margin-bottom:5px;${hidden}\">\n        <label style=\"font-size:10px;color:#65676b;display:block;margin-bottom:2px\">${refLabels[r]}</label>\n        <select name=\"selected_model_${r + 1}_${i}\" id=\"ref_sel_${r}_${i}\"\n          style=\"width:100%;padding:6px;border:1px solid #ddd;border-radius:6px;font-size:12px\"\n          onchange=\"showNextRef(${r}, ${i}, this.value)\">\n          ${noneOpt}${modelOptions}\n        </select>\n      </div>\n    `;\n  }\n\n  const modelTag = d.Model && d.Model !== 'All Models'\n    ? `<div style=\"font-size:10px;color:#65676b;text-align:right;line-height:1.4\">${d.Model.replace(' - ', '<br>')}</div>`\n    : '';\n\n  cards += `\n    <div data-anchor=\"${anchor}\" style=\"background:#fff;border-radius:12px;margin-bottom:12px;box-shadow:0 1px 3px rgba(0,0,0,0.12);overflow:hidden\">\n\n      <div style=\"display:flex;align-items:center;gap:10px;padding:12px 14px 8px\">\n        <div style=\"width:38px;height:38px;border-radius:50%;background:#1877f2;display:flex;align-items:center;justify-content:center;color:#fff;font-weight:800;font-size:17px;flex-shrink:0\">D</div>\n        <div style=\"flex:1;min-width:0\">\n          <div style=\"font-size:14px;font-weight:700;color:#050505\">DuberyMNL</div>\n          <div style=\"font-size:11px;color:#65676b\">Just now · 🌐 · <span style=\"background:#f0f2f5;padding:1px 6px;border-radius:4px;font-size:10px;font-weight:700;color:#606770;text-transform:uppercase\">${d.Vibe}</span></div>\n        </div>\n        ${modelTag}\n      </div>\n\n      <div style=\"padding:0 14px 6px\">\n        <textarea name=\"caption_${i}\"\n          style=\"width:100%;box-sizing:border-box;border:none;outline:none;font-size:15px;line-height:1.55;color:#050505;resize:none;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;background:transparent;padding:0;overflow:hidden\"\n          oninput=\"this.style.height='auto';this.style.height=this.scrollHeight+'px'\"\n        >${d.Caption}</textarea>\n      </div>\n\n      <div style=\"padding:0 14px 10px;font-size:14px;color:#1877f2;line-height:1.5\">${d.Hashtags}</div>\n\n      <div style=\"border-top:1px solid #e4e6eb;display:flex;padding:2px 8px\">\n        <div style=\"flex:1;display:flex;align-items:center;justify-content:center;padding:6px 4px;font-size:13px;color:#65676b;font-weight:600;gap:4px;cursor:default\">👍 Like</div>\n        <div style=\"flex:1;display:flex;align-items:center;justify-content:center;padding:6px 4px;font-size:13px;color:#65676b;font-weight:600;gap:4px;cursor:default\">💬 Comment</div>\n        <div style=\"flex:1;display:flex;align-items:center;justify-content:center;padding:6px 4px;font-size:13px;color:#65676b;font-weight:600;gap:4px;cursor:default\">↗ Share</div>\n      </div>\n\n      <div style=\"background:#f7f8fa;border-top:1px solid #e4e6eb;padding:10px 14px\">\n\n        <div style=\"margin-bottom:8px\">\n          <label style=\"font-size:10px;color:#65676b;font-weight:700;display:block;margin-bottom:4px\">VISUAL ANCHOR</label>\n          <div style=\"display:flex;gap:6px\">\n            <button type=\"button\" id=\"anchor_person_${i}\" onclick=\"setAnchor(${i},'PERSON')\" style=\"flex:1;padding:5px;border-radius:6px;border:2px solid ${anchor === 'PERSON' ? '#1565c0' : '#ddd'};background:${anchor === 'PERSON' ? '#e3f2fd' : '#fff'};color:${anchor === 'PERSON' ? '#1565c0' : '#aaa'};font-size:11px;font-weight:700;cursor:pointer\">PERSON</button>\n            <button type=\"button\" id=\"anchor_product_${i}\" onclick=\"setAnchor(${i},'PRODUCT')\" style=\"flex:1;padding:5px;border-radius:6px;border:2px solid ${anchor === 'PRODUCT' ? '#2e7d32' : '#ddd'};background:${anchor === 'PRODUCT' ? '#e8f5e9' : '#fff'};color:${anchor === 'PRODUCT' ? '#2e7d32' : '#aaa'};font-size:11px;font-weight:700;cursor:pointer\">PRODUCT</button>\n          </div>\n          <input type=\"hidden\" name=\"visual_anchor_${i}\" id=\"anchor_val_${i}\" value=\"${anchor}\">\n        </div>\n\n        <div style=\"margin-bottom:8px\">${refPickers}</div>\n\n        <div style=\"display:flex;align-items:center;gap:6px\">\n          ${stars}\n          <input type=\"hidden\" name=\"rating_${i}\" id=\"star_val_${i}\" value=\"0\">\n          <span id=\"star_label_${i}\" style=\"font-size:11px;color:#65676b;margin-left:4px\">No stars = reject</span>\n        </div>\n      </div>\n    </div>\n  `;\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<title>DuberyMNL Caption Review</title>\n<style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; background: #f0f2f5; padding: 12px; max-width: 500px; margin: 0 auto; }\n  h1 { font-size: 18px; margin-bottom: 2px; color: #050505; }\n  p { color: #65676b; font-size: 13px; margin-bottom: 14px; }\n  button[type=\"submit\"] { background: #1877f2; color: #fff; border: none; border-radius: 8px; padding: 12px 28px; font-size: 15px; font-weight: 700; width: 100%; cursor: pointer; margin-top: 8px; }\n</style>\n</head>\n<body>\n<h1>DuberyMNL Caption Review</h1>\n<p>Tap stars to approve. Edit captions directly. Hit Submit when done.</p>\n<div id=\"filter-bar\" style=\"margin-bottom:12px\">\n  <label style=\"font-size:12px;font-weight:700;color:#65676b\">Filter: </label>\n  <select id=\"va-filter\" style=\"padding:5px 10px;border:1px solid #ddd;border-radius:6px;font-size:13px\">\n    <option value=\"ALL\">All Anchors</option>\n    <option value=\"PERSON\">PERSON only</option>\n    <option value=\"PRODUCT\">PRODUCT only</option>\n  </select>\n</div>\n<form method=\"POST\" action=\"\">\n  ${cards}\n  <div style=\"background:#fff;border-radius:12px;padding:14px;margin-bottom:12px;box-shadow:0 1px 3px rgba(0,0,0,0.12)\">\n    <div style=\"font-size:13px;font-weight:700;color:#050505;margin-bottom:8px\">Feedback for Agent (optional)</div>\n    <textarea name=\"feedback\" rows=\"3\" placeholder=\"e.g. More bundle captions. Fix Taglish ratio. More outdoor vibes.\" style=\"width:100%;box-sizing:border-box;border:1px solid #ddd;border-radius:8px;padding:10px;font-size:14px;resize:vertical\"></textarea>\n    <div style=\"font-size:11px;color:#aaa;margin-top:4px\">Leave blank to skip. If filled, new captions will be generated after submit.</div>\n  </div>\n  <button type=\"submit\">Submit Review</button>\n</form>\n<script>\ndocument.querySelectorAll('textarea[name^=\"caption_\"]').forEach(function(ta) {\n  ta.style.height = 'auto';\n  ta.style.height = ta.scrollHeight + 'px';\n});\n\nfunction showNextRef(r, i, val) {\n  if (val) {\n    var next = document.getElementById('ref_picker_' + (r + 1) + '_' + i);\n    if (next) next.style.display = '';\n  } else {\n    for (var j = r + 1; j < 5; j++) {\n      var el = document.getElementById('ref_picker_' + j + '_' + i);\n      if (el) {\n        el.style.display = 'none';\n        var sel = document.getElementById('ref_sel_' + j + '_' + i);\n        if (sel) sel.value = '';\n      }\n    }\n  }\n}\n\nfunction setAnchor(i, val) {\n  document.getElementById('anchor_val_' + i).value = val;\n  var p = document.getElementById('anchor_person_' + i);\n  var pr = document.getElementById('anchor_product_' + i);\n  p.style.borderColor = val === 'PERSON' ? '#1565c0' : '#ddd';\n  p.style.background = val === 'PERSON' ? '#e3f2fd' : '#fff';\n  p.style.color = val === 'PERSON' ? '#1565c0' : '#aaa';\n  pr.style.borderColor = val === 'PRODUCT' ? '#2e7d32' : '#ddd';\n  pr.style.background = val === 'PRODUCT' ? '#e8f5e9' : '#fff';\n  pr.style.color = val === 'PRODUCT' ? '#2e7d32' : '#aaa';\n}\n\ndocument.getElementById('va-filter').addEventListener('change', function() {\n  var val = this.value;\n  document.querySelectorAll('[data-anchor]').forEach(function(card) {\n    card.style.display = (val === 'ALL' || card.dataset.anchor === val) ? '' : 'none';\n  });\n});\n\ndocument.addEventListener('click', function(e) {\n  if (!e.target.classList.contains('star')) return;\n  var card = e.target.dataset.card;\n  var val = parseInt(e.target.dataset.star);\n  document.getElementById('star_val_' + card).value = val;\n  document.querySelectorAll('[data-card=\"' + card + '\"]').forEach(function(s) {\n    s.style.color = parseInt(s.dataset.star) <= val ? '#f59e0b' : '#ddd';\n  });\n  var label = document.getElementById('star_label_' + card);\n  if (label) label.textContent = val >= 3\n    ? val + ' star' + (val > 1 ? 's' : '') + ' — approved'\n    : val + ' star' + (val > 1 ? 's' : '') + ' — rejected';\n});\n</script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -544
      ],
      "id": "1cf734ac-a11e-4987-9380-a80c4ecf62ce",
      "name": "Build Review HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        704,
        -544
      ],
      "id": "f00d769c-cc00-4db0-994d-00544045b694",
      "name": "Serve Review Page"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "duberymnl-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -240
      ],
      "id": "d24c9ea0-093e-4388-bb68-84a3edc109ed",
      "name": "POST — Form Submission",
      "webhookId": "74d7efee-f621-4ac8-8b73-1763da4968a6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "pending_review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -240
      ],
      "id": "2890b585-5f16-4841-973a-c044ba3b5f79",
      "name": "Read Pending For Sort",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ratings = $('Parse Form').first().json.ratings || {};\nconst body = $('POST — Form Submission').first().json.body;\nconst now = new Date().toISOString();\n\nconst result = [];\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json;\n  const rating = ratings[String(i)] || 0;\n  const decision = rating >= 3 ? 'approve' : 'reject';\n\n  const selectedModel = [1, 2, 3, 4, 5]\n    .map(r => (body['selected_model_' + r + '_' + i] || '').trim())\n    .filter(Boolean)\n    .join(', ');\n\n  result.push({\n    json: {\n      Timestamp: now,\n      Vibe: row.Vibe,\n      Model: row.Model,\n      Caption: body['caption_' + i] || row.Caption,\n      Hashtags: row.Hashtags,\n      Generated_At: row.Generated_At,\n      Visual_Anchor: body['visual_anchor_' + i] || row.Visual_Anchor || 'PERSON',\n\n      Selected_Model: selectedModel,\n      Rating: decision === 'approve' ? rating : null,\n      decision\n    }\n  });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -240
      ],
      "id": "8aa2b7ea-4f46-4b21-afa1-0f64b51203d3",
      "name": "Tag Decisions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "969fd4a0-768b-4ccd-bd7a-d700496bb512",
              "leftValue": "={{ $json.Rating }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -240
      ],
      "id": "39b84111-b07b-4cc0-8a5c-d7673ddd531b",
      "name": "Route by Decision"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1494155456,
          "mode": "list",
          "cachedResultName": "approved_content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=1494155456"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vibe",
              "displayName": "Vibe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated_At",
              "displayName": "Generated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Visual_Anchor",
              "displayName": "Visual_Anchor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Selected_Model",
              "displayName": "Selected_Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -336
      ],
      "id": "0fbbcdbc-3e80-4703-a64a-60ca20a76287",
      "name": "Append Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943710065,
          "mode": "list",
          "cachedResultName": "rejected_content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=1943710065"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vibe",
              "displayName": "Vibe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated_At",
              "displayName": "Generated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Visual_Anchor",
              "displayName": "Visual_Anchor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Selected_Model",
              "displayName": "Selected_Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -144
      ],
      "id": "ce507d36-b69f-4940-9097-2a2c58e901b0",
      "name": "Append Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -240
      ],
      "id": "e0a582b9-4370-4010-b7e7-e3e9b8cf030c",
      "name": "Merge Branches"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<title>Review Submitted</title>\n<style>\n  body { font-family: -apple-system, sans-serif; background: #f5f5f5; padding: 40px 16px; max-width: 400px; margin: 0 auto; text-align: center; }\n  .check { font-size: 64px; margin-bottom: 16px; }\n  h1 { font-size: 22px; margin-bottom: 8px; }\n  p { color: #666; font-size: 14px; }\n</style>\n</head>\n<body>\n  <div class=\"check\">✅</div>\n  <h1>Review submitted!</h1>\n  <p>Captions sorted. Pending queue cleared.<br>You can close this tab.</p>\n</body>\n</html>\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        32
      ],
      "id": "70e96cd1-84b5-4908-9e41-f17fd7dbc096",
      "name": "Send Confirmation"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "pending_review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=0"
        },
        "clear": "specificRange",
        "range": "A2:Z1000"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        32
      ],
      "id": "9df40840-b5af-43b6-8dbd-6ec722dfdcba",
      "name": "Clear Pending Queue",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 914038723,
          "mode": "list",
          "cachedResultName": "feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=914038723"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp ": "={{ new Date().toISOString() }}",
            "Feedback": "={{ $('POST — Form Submission').first().json.body.feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        32
      ],
      "id": "57de118d-dfac-4726-9cbc-299864578f82",
      "name": "Write Feedback",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Form": {
      "main": [
        [
          {
            "node": "Read Pending For Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET — Review Page": {
      "main": [
        [
          {
            "node": "Read Pending Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Captions": {
      "main": [
        [
          {
            "node": "Build Review HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review HTML": {
      "main": [
        [
          {
            "node": "Serve Review Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST — Form Submission": {
      "main": [
        [
          {
            "node": "Parse Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending For Sort": {
      "main": [
        [
          {
            "node": "Tag Decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Decisions": {
      "main": [
        [
          {
            "node": "Route by Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Decision": {
      "main": [
        [
          {
            "node": "Append Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Approved": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Rejected": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Clear Pending Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Pending Queue": {
      "main": [
        [
          {
            "node": "Write Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Feedback": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8168b0fe-87c6-4b67-ad36-0b6d44d30af4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f5f556501a1bc089acc180bf8210118b142ca69e9a04b407b5e834f5e047cd4"
  },
  "id": "UjwoaLBgmkCeBbbu",
  "tags": []
}