n8n-workflows/duberymnl/DuberyMNL — Image Generator.json
{
  "name": "DuberyMNL — Image Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "009ae145-bf8d-45a4-a830-b31ddc0c4267",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1494155456,
          "mode": "list",
          "cachedResultName": "approved_content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=1494155456"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "f10881c3-aa68-4ba3-bf7f-3c973d9c850d",
      "name": "Read Approved Content",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Star-tiered random caption selector\n// Picks from 5-star pool first; falls back to 4-star if empty\n// Skips rows already marked Caption_Used = TRUE\n//\n// NOTE: The 'Rating' column has a trailing space in the sheet header.\n// Match it exactly as 'Rating ' (with space).\n\nconst rows = $input.all();\n\nconst eligible = rows.filter(row => {\n  const rating = parseInt((row.json['Rating '] || '0').toString().trim());\n  const used = (row.json['Caption_Used'] || '').toString().trim().toUpperCase();\n  return rating >= 4 && used !== 'TRUE';\n});\n\nif (eligible.length === 0) {\n  throw new Error(\n    'No eligible captions found. ' +\n    'Make sure approved_content has rows with Rating 4 or 5 ' +\n    'and Caption_Used column blank or FALSE.'\n  );\n}\n\nconst fiveStars = eligible.filter(\n  r => parseInt((r.json['Rating '] || '0').toString().trim()) === 5\n);\nconst fourStars = eligible.filter(\n  r => parseInt((r.json['Rating '] || '0').toString().trim()) === 4\n);\n\n// 5-star pool first; fall back to 4-star\nconst pool = fiveStars.length > 0 ? fiveStars : fourStars;\n\n// Random pick within the chosen pool\nconst picked = pool[Math.floor(Math.random() * pool.length)];\n\n// Preserve row number (1-indexed, +1 for header) for downstream update\nconst rowIndex = rows.indexOf(picked) + 2;\n\nreturn [{\n  json: {\n    ...picked.json,\n    _row_index: rowIndex,\n    _pool_size: pool.length,\n    _pool_tier: fiveStars.length > 0 ? '5-star' : '4-star'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ],
      "id": "55e646d0-3ac0-4774-aed3-f437483b2fef",
      "name": "Pick Caption"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=SELECTED CAPTION FOR IMAGE GENERATION:\n\nCaption:\n{{ $('Pick Caption').first().json.Caption }}\n\nHashtags: {{ $('Pick Caption').first().json.Hashtags }}\nVibe: {{ $('Pick Caption').first().json.Vibe }}\nVisual_Anchor: {{ $('Pick Caption').first().json.Visual_Anchor }}\nSelected_Model: {{ $('Pick Caption').first().json.Selected_Model }}\n\nWrite the complete nano banano 2 image generation prompt for this caption.\n",
        "options": {
          "systemMessage": "## Role\nYou are a world-class Facebook ad creative director specializing in mobile-first visual storytelling for Filipino consumer brands.\n\nYour job is to take one approved marketing caption and transform it into a complete, highly detailed image generation prompt for Nano Banana 2 (kie.ai).\n\nThe prompt you write will be sent to Nano Banana 2 to generate a photo-realistic ad image. Brand overlays (price, logo, tagline) will be rendered directly in the generated image.\n\n## Brand Context\n- Brand: DuberyMNL\n- Product: Polarized UV-protection sunglasses\n- Price: ₱699\n- Market: Metro Manila / NCR, Philippines\n- Audience: Young Filipino adults (18–35)\n- Language register: Confident, direct, Filipino vernacular\n  (\"lodi\", \"na\", etc.)\n- Delivery: Same-day within Metro Manila, Cash on Delivery (COD)\n- Visual identity: Bold, dynamic, photo-realistic\n\n## Input\nOne approved marketing caption, with a `visual_anchor` field indicating whether the caption concept anchors to a PERSON or a PRODUCT. Use this as a strong starting hint for content type selection — but let the Caption Analysis confirm the choice.\n\n## Output\nOne complete Nano Banana 2 image generation prompt. Output the prompt only — no explanation, no preamble, no commentary.\n\n\n---\n\n## Step 1: Caption Analysis (Internal Reasoning)\n\nSilently run all five steps. Use the output to drive every visual decision in Step 2.\n\n### 1. Pain Point (The Hook)\nWhat physical or emotional discomfort does this caption agitate?\n→ Becomes: the visual hook — expression, lighting, scene tension.\n\n### 2. Relevance & Urgency (The Context)\nWhat modern or localized context does the caption set?\nWhat cultural tone does it strike?\n→ Becomes: scene tone, composition style, cultural grounding.\n\n### 3. Product Proof (The Desire)\nWhat technical or lifestyle claim needs to be SHOWN, not told?\n→ Becomes: a specific visual proof element (e.g., sharp skyline\n  reflected in polarized lens, product in its natural element).\n\n### 4. Friction Removal (The Close)\nWhat facts convert a scroller into a buyer?\n→ Becomes: graphic overlays — price, delivery, CTA energy.\n\nMap to AIDA:\n- Attention  → Pain point / visual hook\n- Interest   → Local vibe, cultural tone, composition\n- Desire     → Visual proof of product benefit\n- Action     → ₱699, same-day delivery, DUBERY as overlays\n\n### 5. Content Type Selection\nBased on the analysis above and the `visual_anchor` hint,\nselect ONE content type. Choose what best serves this caption.\n\nTYPE A — PERSON + PRODUCT\n  Use when: caption agitates a human pain point or experience.\n  A person is the visual anchor. Product is worn or held.\n  Full overlay treatment required.\n\nTYPE B — PRODUCT IN ENVIRONMENT\n  Use when: caption is context-setting or lifestyle-driven.\n  Product is placed naturally in a real-world setting\n  (shop shelf, table, outdoor surface).\n  Minimal overlays — DUBERY logo + tagline only.\n\nTYPE C — PRODUCT LIFESTYLE MINIMAL\n  Use when: caption is aspirational or vibe-based.\n  Product in a scenic or atmospheric backdrop.\n  Brand name + one strong tagline. Clean and minimal.\n\nTYPE D — PRODUCT HERO AD\n  Use when: caption focuses on a specific benefit or feature.\n  Product in a natural environment with a visual proof element\n  (e.g., lens reflection of the surroundings).\n  Full overlay treatment required.\n\nTYPE E — INFOGRAPHIC\n  Use when: caption lists or describes multiple product features.\n  Product is the anchor. Callout arrows point to specific\n  parts of the product with short feature labels.\n  DUBERY logo + price badge required.\n\n---\n\n## Step 2: Write the Prompt\n\nUsing the Caption Analysis and selected Content Type, write a complete Nano Banana 2 prompt with all sections below.\n\nSections marked (ALL TYPES) are always required.\nOverlay requirements vary by type — follow them exactly.\n\n1. GOAL (ALL TYPES)\nState the output: a dynamic, photo-realistic advertisement for a Facebook feed, optimized for mobile (4:5 vertical ratio). State the selected content type and the visual mood.\n\n### 2. SCENE / ENVIRONMENT (ALL TYPES)\nFull detail. Where, what time of day, atmosphere, light quality. Ground the scene in a specific Metro Manila or Philippine environment. No generic stock-photo locations.\n\nFor TYPE A: the environment frames the human subject.\nFor TYPE B/C: the environment IS the visual story.\nFor TYPE D: the environment is reflected in the lens.\nFor TYPE E: the environment is a clean, uncluttered backdrop.\n\n### 3. PRODUCT VARIABLE (ALL TYPES)\nAlways include verbatim:\n\n\"This ad MUST feature the exact style, frame shape, material, and lens color of the sunglasses shown in the [User-Provided Reference Image]. The Dubery logo must match the logo style and placement shown in the reference image. Do not alter the\nproduct in any way.\"\n\n### 4. VISUAL STRUCTURE (ALL TYPES)\nThe core of the prompt. Describe every physical element in full detail based on the selected content type:\n\nTYPE A — Describe: subject(s), expression, emotion, body  language, action, how the product is worn, lighting per area, composition, visual proof element.\n\nTYPE B — Describe: product placement on surface, surrounding props and objects, ambient lighting, depth of field, mood of the environment.\n\nTYPE C — Describe: product position in frame, scenic backdrop, how light interacts with the product and scene, atmosphere, what makes this setting aspirational.\n\nTYPE D — Describe: product placement on surface or ground,  the environment visible in the lens reflection (must be sharp and recognizable), surrounding scene details, lighting quality.\n\nTYPE E — Describe: product position, angle, each callout arrow and its label text, visual style of the callouts (arrows, bubbles, lines), overall layout of callouts around the product.\n\nBe highly specific. Vague instructions produce weak output.\n\n### 5. AD OVERLAYS\n\nACCURACY RULE: Every text element must be spelled exactly and correctly. Use these fixed strings verbatim — no variation: ₱699 / POLARIZED / DUBERY / SAME-DAY DELIVERY / METRO MANILA\n\nFor dynamic text (headlines, body copy, taglines): spelling must be accurate and directly relevant to the caption. No filler. No placeholder text.\n\nDYNAMIC RULE: Visual style, placement, font, color, shape — all creative and unique per concept. No two ads look the same.\n\nInstruct the image AI to render all text with sharp, clean, fully legible letterforms. Blurred or distorted text is not acceptable.\n\nRequired overlays by type:\n\nTYPE A — Full treatment:\n  → ₱699 price display (prominent)\n  → POLARIZED label\n  → Same-day delivery + Metro Manila\n  → DUBERY logo\n  → Headline derived from caption hook\n  → Body copy derived from caption voice\n\nTYPE B — Minimal:\n  → DUBERY logo\n  → One short tagline relevant to the caption\n\nTYPE C — Minimal:\n  → DUBERY brand name (prominent)\n  → One strong tagline relevant to the caption\n\nTYPE D — Full treatment:\n  → ₱699 price display (prominent)\n  → POLARIZED label\n  → Same-day delivery + Metro Manila\n  → DUBERY logo\n  → Bold headline derived from caption\n  → Supporting line derived from caption\n\nTYPE E — Feature callouts:\n  → Each product feature from the caption as a callout label with an arrow pointing to the relevant part of the product\n  → DUBERY logo\n  → ₱699 price badge\n\nFor each overlay, describe: visual treatment, position in frame, and how it connects to the overall concept.\n\n---\n\n## Hard Rules\n1. Product fidelity is non-negotiable — exact frame, lens, material, logo as shown in reference image.\n2. Follow overlay requirements for the selected content type.\n3. Ad must feel native to a Filipino's Facebook feed —\nauthentic, not generic.\n4. Output the prompt only. No meta-commentary.\n\n## Quality Benchmark\nA strong output leaves zero ambiguity. Every element described:\nwhat it looks like, where it is, how the light behaves, what the person is feeling (if applicable), and how every overlay is styled and positioned. The entire prompt traces directly back to the Caption Analysis — nothing is arbitrary.\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "85f19bc6-7ea0-4a09-883c-b3d78ab2ad96",
      "name": "Agent 1 — Prompt Writer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        -128
      ],
      "id": "ce6454ec-62c1-428a-b579-476251c787a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "H3m2YepPu3q1qnLZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"nano-banana-2\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($('Parse Prompt').first().json.prompt) }},\n    \"aspect_ratio\": \"4:5\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"jpg\",\n    \"image_input\": [\"{{ $('Lookup Reference Image').first().json.referenceImageUrl }}\"]\n  },\n  \"callBackUrl\": \"{{ $execution.resumeUrl }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        0
      ],
      "id": "dee318bf-d23e-403e-a169-e9e46964884b",
      "name": "Call Nano Banana 2",
      "credentials": {
        "httpBearerAuth": {
          "id": "3ob1vAQFSmJhe4jT",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output ?? $input.first().json.text ?? '';\n\nlet prompt;\ntry {\n  const parsed = JSON.parse(raw);\n  prompt = parsed.prompt ?? raw;\n} catch (e) {\n  // Agent 1 returned plain text instead of JSON\n  prompt = raw;\n}\n\nif (!prompt) throw new Error('Parse Prompt: no prompt found in Agent 1 output: ' + raw);\n\nreturn [{ json: { prompt } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "eb0bb428-5d20-4c6c-a7ca-a9a5bbd6e5c0",
      "name": "Parse Prompt"
    },
    {
      "parameters": {
        "amount": 100
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        256
      ],
      "id": "5280a0ae-74bb-4df9-aff6-c328d3fa45a5",
      "name": "Wait for Image",
      "webhookId": "82e8b38e-8dce-41e9-866c-8fc1ce1a4ba1"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst resultJson = JSON.parse(result.data.resultJson);\nconst imageUrl = resultJson.resultUrls[0];\n\nif (!imageUrl) throw new Error('No image URL: ' + JSON.stringify(result));\n\nreturn [{ json: { imageUrl } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        256
      ],
      "id": "6493e799-b6f6-466e-93d1-9ac4de213cc5",
      "name": "Extract Image URL",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{ $('Extract Image URL').first().json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        256
      ],
      "id": "94d43cc4-ecf0-4ce7-80cc-f895f0684faf",
      "name": "Download Image"
    },
    {
      "parameters": {
        "name": "=dubery-{{ $now.format('yyyy-MM-dd-HHmmss') }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1N3lH4GE7EPUQBIcojYDwdPkPUJKoXp_y",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        256
      ],
      "id": "cb500c7d-b61a-4b03-95ac-fe59d349f3d6",
      "name": "Upload to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ixeNMcW8QELJu5Wq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Call Nano Banana 2').item.json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        256
      ],
      "id": "191314e1-f123-429c-a3c6-c02d909b3270",
      "name": "Fetch Image Result ",
      "credentials": {
        "httpBearerAuth": {
          "id": "3ob1vAQFSmJhe4jT",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const DRIVE_BASE = 'https://drive.google.com/uc?export=view&id=';\n\nconst REF_MAP = {\n  'classicblue':   '1i1Zt5ufXkmikG0_xal5aNOQVdWVf8OpF',\n  'classicred':    '1VQ5RSAF5NWNncwbaTHbFT65p-Fo9V2us',\n  'classicblack':  '1K3KbbiPDY4puYY66XKa4gUzILlZzfTtT',\n  'classicpurple': '1rdZQymdtr-5C9Bi__s9m9nKvDPqiIWQR',\n  'outbackblack':  '1Oo8a--aJW59XuJg6JmeHIzyReFPFYuMr',\n  'outbackblue':   '1FW14Bo2NKpI49TcNEwbfd6FlCXwNzyTZ',\n  'outbackgreen':  '1FLwh2S3M2g5DWjw0d0ox8Nwu0YFjD9mg',\n  'outbackred':    '1lP0SBZYq3VUkZ26Tvl0v1zSU0ww_XIlJ',\n  'banditsblack':  '1bZo8Wa_urThqSceTsO76FyGaEgiKCIRz',\n  'banditsblue':   '1z1xi59K6YeHVzM6Qfr_7VS2plVg2bgth',\n  'banditscamo':   '1wHsYsspQJlwEk0mBN3C0mWE3OmPYaw_F',\n  'banditsgreen':  '11AmEBk_4SSh_wL9fQaC_FiTjnVCdgj3L',\n  'rastared':      '1zFdvD2l82rqFPb2Ia9kh3nqqPyqj97eK',\n  'rastabrown':    '18hihO0qIECpVYUutLVtpj8wfZJSIbTmK',\n};\n\nconst ALL_KEYS = Object.keys(REF_MAP);\n\nconst item = $input.first().json;\nconst rawModel = item.Selected_Model ?? '';\nconst key = rawModel.toLowerCase().replace(/[\\s\\-_]/g, '');\n\nconst randomKey = ALL_KEYS[Math.floor(Math.random() * ALL_KEYS.length)];\nconst fileId = REF_MAP[key] ?? REF_MAP[randomKey];\nconst resolvedKey = REF_MAP[key] ? key : randomKey;\n\nreturn [{\n  json: {\n    ...item,\n    referenceImageUrl: DRIVE_BASE + fileId,\n    referenceImageKey: resolvedKey\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "ec12425a-0433-4c72-a2ec-92559b1f2d11",
      "name": "Lookup Reference Image"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        256
      ],
      "id": "c2e63207-b2a9-4be5-8a16-f29d2725ffc8",
      "name": "wait",
      "webhookId": "4c9f125a-945d-46d9-94f0-5b2875ca2c1a"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/values/approved_content!L{{ $('Read Approved Content').item.json.row_number }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"values\": [[\"TRUE\"]]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        256
      ],
      "id": "e133f839-11bb-4eae-a6d6-f51b4dfa19fb",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read Approved Content": {
      "main": [
        [
          {
            "node": "Pick Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Caption": {
      "main": [
        [
          {
            "node": "Lookup Reference Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1 — Prompt Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1 — Prompt Writer": {
      "main": [
        [
          {
            "node": "Parse Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompt": {
      "main": [
        [
          {
            "node": "Call Nano Banana 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Nano Banana 2": {
      "main": [
        [
          {
            "node": "Wait for Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image": {
      "main": [
        [
          {
            "node": "Fetch Image Result ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image Result ": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Reference Image": {
      "main": [
        [
          {
            "node": "Agent 1 — Prompt Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Approved Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bd00aa79-965b-4b47-885a-5db000aa4eda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f5f556501a1bc089acc180bf8210118b142ca69e9a04b407b5e834f5e047cd4"
  },
  "id": "YVOmhOQ00Ru9voGX",
  "tags": []
}