n8n-workflows/duberymnl/duberymnl-leadgen.json
{
  "name": "DuberyMNL Lead Generation",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 160],
      "webhookId": "f1e2d3c4-0001-0001-0001-000000000001",
      "parameters": {
        "formTitle": "DuberyMNL Lead Inquiry",
        "formDescription": "Fill in the form below and our team will reach out to you shortly.",
        "formFields": {
          "values": [
            { "fieldLabel": "Full Name", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Email Address", "fieldType": "email", "requiredField": true },
            { "fieldLabel": "Contact Number", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Complete Address", "fieldType": "textarea", "requiredField": true },
            {
              "fieldLabel": "Product Model",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Sky Blue" },
                  { "option": "Stealth" },
                  { "option": "Fire" },
                  { "option": "Gold" }
                ]
              }
            }
          ],
          "options": {}
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "f1e2d3c4-0002-0002-0002-000000000002",
      "parameters": {
        "httpMethod": "POST",
        "path": "duberymnl-lead",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Normalize (Form)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 160],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "form-01", "name": "name", "value": "={{ $json['Full Name'] }}", "type": "string" },
            { "id": "form-02", "name": "email", "value": "={{ $json['Email Address'] }}", "type": "string" },
            { "id": "form-03", "name": "contact_number", "value": "={{ $json['Contact Number'] }}", "type": "string" },
            { "id": "form-04", "name": "address", "value": "={{ $json['Complete Address'] }}", "type": "string" },
            { "id": "form-05", "name": "product_model", "value": "={{ $json['Product Model'] }}", "type": "string" },
            { "id": "form-06", "name": "trigger_source", "value": "form", "type": "string" }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Normalize (Webhook)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "wh-01", "name": "name", "value": "={{ $json.body.name }}", "type": "string" },
            { "id": "wh-02", "name": "email", "value": "={{ $json.body.email }}", "type": "string" },
            { "id": "wh-03", "name": "contact_number", "value": "={{ $json.body.contact_number }}", "type": "string" },
            { "id": "wh-04", "name": "address", "value": "={{ $json.body.address }}", "type": "string" },
            { "id": "wh-05", "name": "product_model", "value": "={{ $json.body.product_model }}", "type": "string" },
            { "id": "wh-06", "name": "trigger_source", "value": "webhook", "type": "string" }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1080, 280],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Contact Number": "={{ $json.contact_number }}",
            "Address": "={{ $json.address }}",
            "Product Model": "={{ $json.product_model }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Timestamp", "displayName": "Timestamp", "canBeUsedToMatch": false },
            { "id": "Name", "displayName": "Name", "canBeUsedToMatch": false },
            { "id": "Email", "displayName": "Email", "canBeUsedToMatch": false },
            { "id": "Contact Number", "displayName": "Contact Number", "canBeUsedToMatch": false },
            { "id": "Address", "displayName": "Address", "canBeUsedToMatch": false },
            { "id": "Product Model", "displayName": "Product Model", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1360, 280],
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Thank you for your interest \u2013 DuberyMNL",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<body style='margin:0; padding:0; background-color:#f4f4f4; font-family: Arial, Helvetica, sans-serif;'>\n\n<table width='100%' cellpadding='0' cellspacing='0' style='padding:30px 0;'>\n  <tr>\n    <td align='center'>\n\n      <table width='600' cellpadding='0' cellspacing='0' style='background-color:#ffffff; padding:40px; border-radius:8px;'>\n\n        <tr>\n          <td align='center' style='font-size:26px; font-weight:bold; color:#111111;'>\n            DuberyMNL\n          </td>\n        </tr>\n\n        <tr><td height='20'></td></tr>\n\n        <tr>\n          <td align='center'>\n            <img \n              src='https://drive.google.com/uc?export=view&id=1ceq_7AfXcZGVjnkEtxAxcAnZFHiWINe2' \n              alt='DuberyMNL Representative'\n              width='150'\n              style='border-radius:75px; display:block;'\n            />\n          </td>\n        </tr>\n\n        <tr><td height='25'></td></tr>\n\n        <tr>\n          <td style='font-size:16px; line-height:1.6; color:#444444;'>\n            Hello,\n            <br><br>\n            Thank you for your interest in <strong>DuberyMNL</strong>.\n            We have received your inquiry and our team will contact you shortly.\n            <br><br>\n            We&#39;re excited to help you find the perfect pair.\n          </td>\n        </tr>\n\n        <tr><td height='25'></td></tr>\n\n        <tr>\n          <td style='background-color:#111111; color:#ffffff; padding:20px; text-align:center; font-size:16px; font-weight:bold; border-radius:6px;'>\n            \ud83d\udd25 This Month&#39;s Special: Exclusive discounts on selected Dubery models!\n          </td>\n        </tr>\n\n        <tr><td height='30'></td></tr>\n\n        <tr>\n          <td style='font-size:13px; color:#888888; text-align:center;'>\n            DuberyMNL<br>\n            Premium Eyewear | Built for Style & Performance\n          </td>\n        </tr>\n\n      </table>\n\n    </td>\n  </tr>\n</table>\n\n</body>\n</html>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GIeJXuKP2hplZsUX",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Is Webhook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1640, 280],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "if-cond-01",
              "leftValue": "={{ $json.trigger_source }}",
              "rightValue": "webhook",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 200],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ { status: 'success', message: 'Lead received successfully', timestamp: $now.toISO() } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Trigger": { "main": [[{ "node": "Normalize (Form)", "type": "main", "index": 0 }]] },
    "Webhook Trigger": { "main": [[{ "node": "Normalize (Webhook)", "type": "main", "index": 0 }]] },
    "Normalize (Form)": { "main": [[{ "node": "Append to Google Sheet", "type": "main", "index": 0 }]] },
    "Normalize (Webhook)": { "main": [[{ "node": "Append to Google Sheet", "type": "main", "index": 0 }]] },
    "Append to Google Sheet": { "main": [[{ "node": "Send Confirmation Email", "type": "main", "index": 0 }]] },
    "Send Confirmation Email": { "main": [[{ "node": "Is Webhook?", "type": "main", "index": 0 }]] },
    "Is Webhook?": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }], []] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false },
  "meta": { "templateCredsSetupCompleted": false },
  "versionId": "d5e6f7a8-b9c0-1234-defa-567890123456",
  "id": "DuberyMNLLeadGen001",
  "active": false,
  "tags": []
}