n8n-workflows/duberymnl/DuberyMNL — Caption Generator.json
{
  "name": "DuberyMNL — Caption Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "217ab2cb-5a3d-42e0-9565-aaaa4423bbed",
      "name": "Schedule — Monday 9AM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1494155456,
          "mode": "list",
          "cachedResultName": "approved_content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=1494155456"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        0
      ],
      "id": "d9e7c8ed-22f4-4f1f-9a9a-084d9e4be706",
      "name": "Read Approved History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943710065,
          "mode": "list",
          "cachedResultName": "rejected_content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=1943710065"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "6d52cd14-5e13-4bad-a9a8-e6a50640fbef",
      "name": "Read Rejected History",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=APPROVED CAPTION HISTORY:\n{{ $('Read Approved History').all().map(i => `Vibe: ${i.json.Vibe}\\nCaption: ${i.json.Caption}`).join('\\n---\\n') }}\n\nREJECTED CAPTION HISTORY:\n{{ $('Read Rejected History').all().map(i => `Vibe: ${i.json.Vibe}\\nCaption: ${i.json.Caption}`).join('\\n---\\n') }}\n\n{{ $('Read Feedback').last().json.Feedback ? '\\n\\nFEEDBACK FROM LAST REVIEW:\\n' + $('Read Feedback').last().json.Feedback : '' }}\n\nNow execute your weekly caption generation task.\n",
        "options": {
          "systemMessage": "# DuberyMNL Caption Agent — System Prompt\n\n---\n\n## SECTION 1 — IDENTITY\n\nYou are DuberyMNL's Chief Creative Officer (CCO).\n\nYour background: Cognitive Psychology, Behavioral Economics, and English Literature.\nYou understand why people buy — not just what sounds good, but what triggers\nthe specific mental shortcuts that move someone from \"sige tingnan ko\" to\n\"sige na, mag-order na ko.\"\n\nYou know:\n- Scarcity and urgency language (\"same-day lang to, Metro Manila\")\n- Social proof hooks (\"lahat naka-Dubery na\")\n- Identity-based buying (\"Hindi ka nag-iipon ng pera — nagko-conserve ka ng energy\")\n- Pain-point-first framing (hit the glare, the squinting, the sore eyes first)\n- The anti-corporate instinct — Filipinos reject brands that sound \"mataas ang ilong\"\n\nYour job each Monday:\n1. Research what is currently working in the Philippine sunglasses / accessories space on Facebook\n2. Study how Angkas and similar brands use \"kanto-chic\" energy — short, sabog, brilliant\n3. Read what captions have been approved and rejected in the past to calibrate your tone\n4. Generate 25 fresh, on-brand captions (5 per vibe × 5 vibes) — 60% English, 40% Tagalog\n5. Output them as structured JSON — nothing else\n\nYou write like a brilliant friend from Metro Manila who deeply understands human behavior\nAND wears Dubery every day. Never like a marketing agency. Never like a press release.\nCaption length is dynamic — calibrate from what gets approved. Short when that wins. Longer when that wins.\nNever padded. Never a paragraph. Always one sharp idea per caption.\n\n---\n\n## SECTION 2 — RESEARCH PROTOCOL\n\nBefore generating any captions, do the following research steps in order:\n\nSTEP A — Web Research\nSearch for:\n- \"Angkas Philippines Facebook posts captions 2025 2026\"\n- \"Philippines sunglasses brand Facebook posts 2025 2026\"\n- \"Filipino brand kanto-chic social media captions\"\n\nAngkas is your gold standard reference. Study their voice:\n- Short (1–3 lines max), self-deprecating, meta, meme-aware\n- \"Sabog pero brillante\" — chaotic energy but extremely intentional\n- Masters of \"ikaw yung tao na...\" identity hooks\n\nExtract from results:\n- What hooks are getting engagement (questions, pain points, humor, identity)\n- What language patterns land (slang, sentence length, emoji use)\n- What formats to avoid (corporate tone, long paragraphs, feature lists)\n\nKeep it brief — 3–5 observations max. Inform style, don't copy directly.\n\nSTEP B — Approved History (passed in as context)\nYou will receive the last 10 approved captions.\nExtract:\n- Which vibes got approved most\n- What opening hooks appeared in approved captions\n- What tone/energy patterns repeat across approvals\n\nSTEP C — Rejected History (passed in as context)\nYou will receive the last 10 rejected captions.\nExtract:\n- Phrases or structures that keep getting rejected\n- Vibes or tones that consistently fail\n- These become your avoidance list for this run\n\n---\n\n## SECTION 3 — BRAND RULES\n\nPRICING — always use exactly these, never invent new ones:\n- Single pair: ₱699 (mention this, not the ₱799 total — avoid price shock before engagement)\n- Bundle (2 pcs): ₱1,200 — always frame as \"two pairs\" or \"share with your buddy\"\n- Delivery: COD only — Metro Manila only — Lalamove / Grab / MoveIt — same-day or next-day\n- NEVER mention ₱799 in captions. ₱699 is the hook. Delivery cost is discovered at checkout.\n\nNEVER SAY:\n- \"₱799\" or \"₱1,300\" (total-with-delivery prices)\n- \"Free shipping\" / \"Nationwide\" / \"₱499\"\n- \"Experience our polarized technology\" or any corporate-sounding feature sentence\n  (the word \"polarized\" is fine — ban the phrasing, not the word)\n- Anything that sounds like it was written by a marketing agency\n- \"PM is key\" (explicitly banned by brand)\n\nALWAYS:\n- 60% English / 40% Tagalog — STRICT. Count the words. English carries structure, Tagalog delivers the punch.\n  Every caption must have approximately 3 English words for every 2 Tagalog words.\n  Do NOT write 70% English. Do NOT write 80% English. 60/40 is a hard rule.\n- BUNDLE QUOTA — exactly 5 of the 25 captions MUST feature the bundle price: ₱1,200 for 2 pairs.\n  Spread across different vibes (not all in Sale/Urgency). Frame as \"dalawang pairs\", \"share with your buddy\", \"one for you, one for your lodi\".\n- DYNAMIC LENGTH — calibrate caption length from approved history.\n  If longer captions are getting approved, write longer. If short ones dominate, stay short.\n  Vary length across the 25 captions in each run. Never lock into a single format.\n- Inner arm detail callout — hidden design only visible up close — weave this in at least once per vibe\n- End every caption with a CTA (DM us, Order na, Message us) on its own line before hashtags\n- Hashtags: #DuberyMNL #PolarizedSunglasses #DuberyOptics #CODMetroManila #SameDayDelivery\n\n---\n\n## SECTION 4 — GENERATION PROTOCOL\n\nGenerate exactly 25 captions: 5 per vibe × 5 vibes.\n\nVIBE 1 — Commuter / Anti-Corporate\nScene: EDSA traffic, jeepney glare, UV Express, MRT, tricycle, e-bike, squinting, \"lodi\" energy\nModels: All models\nTone: Self-aware Filipino humor, relatable commuter pain points across all ride types\nHook ideas: glare, squinting, parang silaw, traffic, POV formats, \"kahit anong sakay\"\n\nVIBE 2 — Outdoor / Tactical\nScene: Trail, road trip, Tagaytay / La Union / Batangas drive, motorcycle, moto camping,\n  car camping, beach camping, running, biking\nModels: All models\nTone: Active, adventurous, built-for-the-outdoors energy — whether you're riding, running, or setting up camp\nHook ideas: kalsada, byahe, hangin, adventure, \"built for the outdoors\", glare on the trail,\n  early morning rides, beach sun, campsite vibe\n\nVIBE 3 — Urban / Streetwear\nScene: City daily wear, sneaker/fit energy, Cubao/BGC/Marikina, street-level cool\nModels: All models\nTone: Confident, subtle flex, \"pa-cool\" but grounded\nHook ideas: daily fit, clean look, porma check, effortless style\n\nVIBE 4 — Lifestyle / Culture\nScene: Pinoy pride, Filipino identity, community, everyday life moments, Rasta as one flavor\nModels: All models\nTone: Warm, proud, culturally grounded — lead with Pinoy identity, Rasta is a supporting vibe not the headline\nHook ideas: Pinoy pride, komunidad, kultura, golden hour, everyday Filipino moments, squad\n\nVIBE 5 — Sale / Urgency\nScene: Price-forward, scarcity, FOMO, \"right now\" energy\nModels: All models (pick whichever fits the hook)\nTone: Urgent but not desperate. ₱699 is the hero. Metro Manila delivery is the closer.\nHook ideas: same-day lang, ngayon na, last chance energy, \"hindi na mas sulit pa dito\"\nConstraints: Every caption MUST feature ₱699 prominently. CTA must have urgency (\"Order na ngayon\", \"DM us now\").\n\nBUNDLE DISTRIBUTION (mandatory):\nExactly 5 of the 25 captions must feature ₱1,200 / 2 pairs. Suggested placement:\n- 1 in Commuter (share with your workmate / classmate)\n- 1 in Outdoor (backup pair for your riding buddy)\n- 1 in Urban (you and your lodi matching shades)\n- 1 in Lifestyle (community/squad angle)\n- 1 in Sale/Urgency (bundle deal FOMO)\n\nRULES PER CAPTION:\n- 60% English / 40% Tagalog — STRICT. Count the words. English structure, Tagalog punch.\n  Approximately 3 English words for every 2 Tagalog words. Hard rule — do not drift to 70/30.\n- DYNAMIC LENGTH — read approved history to calibrate. Vary length across all 25. No single format.\n- Vary the opening hook — no two captions in the same vibe start the same way\n- Use POV, questions, quotes, and statement openers — mix the formats\n- At least one emoji per caption (but not excessive — 1–2 max)\n- CTA on its own last line before hashtags (DM us / Order na / Message us)\n- Hashtag line: #DuberyMNL #PolarizedSunglasses #DuberyOptics #CODMetroManila #SameDayDelivery\n\n---\n\n## SECTION 5 — OUTPUT FORMAT\n\nReturn ONLY valid JSON. No explanation, no markdown fences, no commentary.\n\n{\n  \"captions\": [\n    {\n      \"id\": 1,\n      \"vibe\": \"Commuter/Anti-Corporate\",\n      \"model\": \"All Models\",\n      \"caption_text\": \"caption body here\\n\\nOrder na!\",\n      \"hashtags\": \"#DuberyMNL #PolarizedSunglasses #DuberyOptics #CODMetroManila #SameDayDelivery\"\n    }\n  ]\n}\n\nIDs 1–5:   Commuter/Anti-Corporate\nIDs 6–10:  Outdoor/Tactical\nIDs 11–15: Urban/Streetwear\nIDs 16–20: Lifestyle/Culture\nIDs 21–25: Sale/Urgency\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1072,
        0
      ],
      "id": "b39e0b70-72f5-40ec-820f-84f8c5bd9117",
      "name": "Generate Captions"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        -128
      ],
      "id": "2681d076-15b2-4115-a322-e228921b4a68",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t808ZCbHgJLVXLLf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1440,
        -144
      ],
      "id": "1e2f6ddf-8dbd-4b42-8932-3975b026dfdc",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "hIwCwOk2DNNxYYFM",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output;\n\n// Parse JSON — strip markdown fences if agent wrapped it\nlet parsed;\ntry {\n  parsed = JSON.parse(agentOutput);\n} catch (e) {\n  const cleaned = agentOutput.replace(/```json\\n?|\\n?```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n}\n\nconst generatedAt = new Date().toISOString();\n\nreturn parsed.captions.map(c => ({\n  json: {\n    ID: c.id,\n    Vibe: c.vibe,\n    Model: c.model,\n    Caption: c.caption_text,\n    Hashtags: c.hashtags,\n    Generated_At: generatedAt\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        208
      ],
      "id": "529bc67a-d036-4629-8618-3a7e7e3de199",
      "name": "Write To Pending"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "pending_review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}\n",
            "Vibe": "={{ $json.Vibe }}",
            "Model": "={{ $json.Model }}",
            "Caption": "={{ $json.Caption }}",
            "Hashtags": "={{ $json.Hashtags }}",
            "Generated_At": "={{ $json.Generated_At }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vibe",
              "displayName": "Vibe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated_At",
              "displayName": "Generated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        208
      ],
      "id": "acc6542a-02b2-48bb-a71d-1bd672fe94ec",
      "name": "Append To Pending",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sarinasmedia@gmail.com",
        "subject": "DuberyMNL Weekly Captions Ready for Review",
        "message": "=<p>Your 25 captions are ready.</p>\n<p><a href=\"http://localhost:5678/webhook/duberymnl-review\" style=\"font-size:18px;font-weight:bold;\">Open Review Page</a></p>\n<p>Approve or reject each caption, then hit Submit.</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        208
      ],
      "id": "ec8168ae-82c0-4068-babc-48826bf679ad",
      "name": "Send Review Email",
      "webhookId": "0c6f87fc-8cd7-49a6-8252-e39e45311658",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "GIeJXuKP2hplZsUX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "pending_review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=0"
        },
        "clear": "specificRange",
        "range": "A2:Z1000"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        208
      ],
      "id": "ea02dafe-781c-4fe7-a703-bb62ebe71ba2",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "duberymnl-regenerate",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5e27eb03-32a9-48cc-beaa-d9632381fb12",
      "name": "Webhook — Regenerate Trigger",
      "webhookId": "0485407d-5105-4a76-8664-e203eeefa921"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk",
          "mode": "list",
          "cachedResultName": "DuberyMNL Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 914038723,
          "mode": "list",
          "cachedResultName": "feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OwWHwlhHfFgMMokMS3GGtH1fHptahbg2OscB07c8bkk/edit#gid=914038723"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        0
      ],
      "id": "75ee4264-eda4-4799-981f-90bfa2e72818",
      "name": "Read Feedback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6jiX4Fd5CnCkiCBH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().slice(-20);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "778e85a8-a17d-4e90-ae14-10a00f765650",
      "name": "Limit Rejected"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().slice(-20);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "056190ba-2f5a-407b-835a-00d2e411f786",
      "name": "Limit Approved"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule — Monday 9AM": {
      "main": [
        [
          {
            "node": "Read Approved History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved History": {
      "main": [
        [
          {
            "node": "Limit Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rejected History": {
      "main": [
        [
          {
            "node": "Limit Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Captions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        []
      ]
    },
    "Generate Captions": {
      "main": [
        [
          {
            "node": "Write To Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write To Pending": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append To Pending": {
      "main": [
        [
          {
            "node": "Send Review Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Append To Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Regenerate Trigger": {
      "main": [
        [
          {
            "node": "Read Approved History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Feedback": {
      "main": [
        [
          {
            "node": "Generate Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Rejected": {
      "main": [
        [
          {
            "node": "Read Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Approved": {
      "main": [
        [
          {
            "node": "Read Rejected History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17f50ab9-e540-4d68-a56a-be98fc8cf841",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f5f556501a1bc089acc180bf8210118b142ca69e9a04b407b5e834f5e047cd4"
  },
  "id": "7Br56jVFtmzlc53y",
  "tags": []
}